/*! Google font : Open sans */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/*! Shared styles */
.text-primary {
  color: #fd6e0a;
}

.dark-1 {
  color: #181818;
}

.dark-2 {
  color: #474747;
}

.dark-3 {
  color: #757575;
}

.btn-primary {
  background-color: #fd6e0a;
  padding: 16px 30px;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: auto;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}
/* header styles */

.header {
  background: url("../images/developer.png"), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-title {
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;

  /* !margin: 0 38px 0 200px */
  margin-right: 38px;
  margin-left: 200px;
}
.banner-content {
  max-width: 582px;
}

.banner-content .btn-white {
  margin-left: 10px;
}

.banner-content .banner-title {
  font-size: 85px;
  font-weight: 700;
  line-height: auto;
}
.banner-content .banner-greetings {
  font-size: 45px;
  font-weight: 600;
  line-height: auto;
}
.banner-content .banner-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* ! width ke max width korlam */
.banner-content .banner-profile-pic {
  max-width: 578px;
}
